body {
    padding: 0;
    margin: 0;

    background-image: url('../images/background-waves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


.navbar {
    background: #DFB2F440;
    /*last two numbers make it transparent*/
    /*opacity: .75;*/
}

.nav-link,
.navbar-brand {
    color: #001122;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #DFB2F4;
}

.navbar-collapse {
    justify-content: flex-end;
}

/*
.header {
    background-image: url('../images/background_4.avif');
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: .75;
}
*/

#logo {
    padding-top: 10px;
    padding-bottom: 50px;
    width:300px;
    z-index: -100;
    position: relative;
}

.try-me {
    padding-top: 25px;
    position: inherit;
}

button {
    background-color: #5a2d6b;
    border: .5px solid #ce5488;
    border-radius: 10px;
    color: #fff;
    padding: 8px;
    box-shadow: 0 0 30px 0 #ce5488,
                    0 0 30px 0 #ce5488,
                    0 0 10px 0 #ce5488 inset;
}


.description h1 {
    color: #000000;
    opacity: .75;
}

.description p {
    color: #000000;
    font-size: 24px;
    line-height: 1;
    opacity: .7;
}

.description button {
    border: 1px solid #F5EBE0;
    background: #F5EBE0;
    border-radius: 0;
    color: #F5EBE0;
}

.description button:hover {
    border: 1px solid #001122;
    background: #001122;
    color: #001122;
}

/* Customize Font and Hovering for Label and Links: */
a.nav-link:hover,
a.navbar-brand:hover {
    color: #DFB2F4;
}

a.navbar-brand {
    color: #000000;
}


.layer {}

.flip {
    transform: rotate(180deg);
}


#sign-up-form {
    /*z-index: 1000;*/
    position: relative;
    opacity: .95;
}


#log-in-form {
    /*z-index: 1000;*/
    position: relative;
    opacity: .95;
}

/* change padding for buttons sign up and log in */
.pl-5,
.px-5 {
    padding-left: 2rem !important;
}

.pr-5,
.px-5 {
    padding-right: 2rem !important;
}


.mood-text {
    fill: #001122;
    font-size: 36px;
    text-align: center;
    margin-top: 25px;
}

g:hover {
    color: #DFB2F4;
}

.moosic-user-name {
    color: #DFB2F4;
}

#genre-carousel, #mood-carousel {
    text-align: center;
    font-size: 100px;
    color: #001122;
}


#choose-mood-button {
    text-align: center;
    opacity: .7;
}

#prompt-choose-genre-mood, 
#prompt-results {
    text-align: center;
    color: #001122;
    opacity: .9;
    margin-top: 50px;
    margin-bottom: 0px;
}


.button-position {
    left: 50%;
    text-align: center;
}

.result-button {
    margin-top: 100px;
    position: center;
    text-align: center;
}

.carousel-control-next,
.carousel-control-prev  {
    position: absolute;
    top: 17%; /* pushes the icon in the middle of the height */
    z-index: 5;
    display: inline-block;
    filter: invert(100%);
    }

#slide-in-text {
    font-size: 50px;
}


@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
}

#test {
    text-align: center;
}

/*postion Freepik link*/
#Freepik {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}