body {
    padding: 0;
    margin: 0;
    background-image: url('../images/background_mosaik.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


.navbar {
    background: #DFB2F440;
    /*last two numbers make it transparent*/
    /*opacity: .75;*/
}

.nav-link,
.navbar-brand {
    color: #DFB2F4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #DFB2F4;
}

.navbar-collapse {
    justify-content: flex-end;
}

/*
.header {
    background-image: url('../images/background_4.avif');
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: .75;
}
*/


.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #000000;
    opacity: .75;
}

.description p {
    color: #000000;
    font-size: 1.3rem;
    line-height: 1.5;
    opacity: .7;
}

.description button {
    border: 1px solid #F5EBE0;
    background: #F5EBE0;
    border-radius: 0;
    color: #F5EBE0;
}

.description button:hover {
    border: 1px solid #F5EBE0;
    background: #F5EBE0;
    color: #F5EBE0;
}

/* Customize Font and Hovering for Label and Links: */
a.nav-link:hover,
a.navbar-brand:hover {
    color: #F5EBE0;
}

a.navbar-brand {
    color: #000000;
}


.layer {}

.flip {
    transform: rotate(180deg);
}


#sign-up-form {
    /*z-index: 1000;*/
    position: relative;
    opacity: .95;
}


#log-in-form {
    /*z-index: 1000;*/
    position: relative;
    opacity: .95;
}

/* change padding for buttons sign up and log in */
.pl-5,
.px-5 {
    padding-left: 2rem !important;
}

.pr-5,
.px-5 {
    padding-right: 2rem !important;
}

#prompt {
    color: #001122;
    text-align: center;
    margin-top: 100px;
    opacity: .7;
}

.mood-text {
    fill: #001122;
    font-size: 36px;
    text-align: center;
    margin-top: 25px;
}

g:hover {
    color: #DFB2F4;
}

.moosic-user-name {
    color: #DFB2F4;
}

#genre-carousel, #mood-carousel {
    text-align: center;
    font-size: 100px;
    color: #001122;
}


#choose-mood-button {
    text-align: center;
    opacity: .7;
}

#prompt {
    text-align: center;
    color: #001122;
    opacity: .7;
    margin-top: 100px;
    margin-bottom: 0px;
}

