{% extends "base.html" %}
{% block title %}MOOSIC{% endblock %}

{% block content %}

{# Grid System 2 rows with two and one columns #}
<div class="row">
    <div class="col-sm-6">

        <h2 class="position-relative" id="prompt">
            1. Choose your Genre
        </h2>

        {#Start Genre Carousel#}
        <div id="genre-carousel" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="hover">
            <div class="carousel-inner">
                {% for blob_id in range(1,27) %}
                <div class="carousel-item {{ 'active' if loop.index == 1 else '' }}">
                    {# View Box #}
                    <svg id="visual" viewBox="0 0 800 800" width="500" height="500" style="display: block; margin: auto"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" onclick="save_genre();">
                        {% include('blobs/genre/blob'~blob_id~'.html') %}
                    </svg>
                </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#genre-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#genre-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div class="col-sm-6">

        <h2 class="position-relative" id="prompt">
            2. Choose your Mood Goal
        </h2>



        {#Start Mood Carousel#}
        <div id="mood-carousel" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="hover">
            <div class="carousel-inner">
                {#Loop through the mood list#}
                {% for blob_id in range(1,9) %}
                <div class="carousel-item {{ 'active' if loop.index == 1 else '' }}">
                    {# View Box #}
                    <svg id="visual" viewBox="0 0 800 800" width="500" height="500" style="display: block; margin: auto"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" onclick="save_mood();">
                        {% include('blobs/mood/blob'~blob_id~'.html') %}
                    </svg>
                </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#mood-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#mood-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>

<div class="spacer layer"></div>


<div class="row">
    <div class="col-sm-12">
        {# Next Button #}
        <div class="button-position">
            {# activate the model with saved variables #}
        <a class="btn btn-outline-secondary" href="{{url_for('MoosicViews.results')}}" role="button" id="show-me-button">Show me
            my tracks</a>
        </div>
    </div>
</div>

{# ANIMATION START #}
{# <div class="spacer layer flip"></div>
<section class="blob"> #}

    <script>

        /*Animation for genre blobs*/
        {% for blob_id in range(1, 27) %}

        KUTE.fromTo(
            '{{"#blob%d" % blob_id}}-1',
            { path: '{{"#blob%d" % blob_id}}-1' },
            { path: '{{"#blob%d" % blob_id}}-2' },

            { repeat: 999, duration: 2500, yoyo: true }
        ).start();

        {% endfor %}

        /*Animation for mood blobs*/
        {% for blob_id in range(1, 9) %}

        KUTE.fromTo(
            '{{"#mblob%d" % blob_id}}-1',
            { path: '{{"#mblob%d" % blob_id}}-1' },
            { path: '{{"#mblob%d" % blob_id}}-2' },

            { repeat: 999, duration: 2500, yoyo: true }
        ).start();

        {% endfor %}

    </script>
</section>
{# ANIMATION END #}


{% endblock %}