{% extends "base.html" %}
{% block title %}MOOSIC{% endblock %}


{# LANDING PAGE #}

{% block content %}


<div style="text-align: center;">
    <img src="/static/images/logo.png" id="logo">
</div>


<div class="description" style="text-align: center;">
    <p>Your Mood.</p>
    <p>Your Music.</p>
</div>



{# Try me button #}

        <div class="try-me-button" style="text-align: center;">
            <a class="btn btn-outline-dark" href="{{url_for('MoosicViews.choose_genre_mood')}}" role="button">Try
                me!</a>
        </div>


{# header #}
{% endblock %}