body {
    padding: 0;
    margin: 0;
    background-image: url('../images/background_4.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.navbar {
    background:#DFB2F440;  /*last two numbers make it transparent*/
    /*opacity: .75;*/
}

.nav-link,
.navbar-brand {
    color: #000000;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #DFB2F4;
}

.navbar-collapse {
    justify-content: flex-end;
}

/*
.header {
    background-image: url('../images/background_4.avif');
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: .75;
}
*/


.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #000000;
    opacity: .75;
}
.description p {
	color: #000000;
	font-size: 1.3rem;
	line-height: 1.5;
    opacity: .75;
}

.description button {
    border:1px solid #F5EBE0;
    background:#F5EBE0;
    border-radius: 0;
    color:#F5EBE0;
}
.description button:hover {
	border:1px solid #F5EBE0;
    background:#F5EBE0;
    color:#F5EBE0;
}

/* Customize Font and Hovering for Label and Links: */
a.nav-link:hover, 
a.navbar-brand:hover {
    color:#F5EBE0;
}

a.navbar-brand {
    color:#000000;
}


.layer {

}

.flip {
    transform: rotate(180deg);
}