{% extends "base.html" %}
{% block title %}MOOSIC{% endblock %}


<!-- LANDING PAGE -->

{% block content %}
<!--<header class="page-header header container-fluid">-->

    <div class="description">
        <!--Description Landing Page-->
        <h1>Welcome to</h1>
        <p></p>

        <img src="/static/images/logo.png" id="logo">

        <p>The engine that suggests music based on your mood.</p>

        <!--Try me button-->
        <a class="btn btn-outline-secondary" href="{{url_for('views.try_me')}}" role="button">Try me!</a>

    </div>

<!--</header>-->
{% endblock %}   



